

.box {
    box-sizing: border-box;
    float:left;
    width: 33.33%;
    padding: 50px;
    height: 300px;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: green;
}

.flex-container .box-flex {
    background-color: #f1f1f1;
    width: 50%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
}
