h1 {
    text-align: center;
    text-transform: uppercase;
    text-decoration: overline;
    color: blue;
    letter-spacing: 15px;
    text-shadow: 3px 3px 5px black, 3px 3px 5px red;
}

p {
    text-indent: 50px;
}

a {
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}


