.button {
    background-color: red;
    border: 3px solid green;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 30%;
    box-shadow: 0 25px 36px 0 rgba(122, 0, 102, 0.7);
}

.radius {
    border-radius: 50%;
    opacity: 0.8;
    cursor: not-allowed;
}

.hover:hover {
    background-color: indigo;
}

.btn-group .button{
    float: left;
    border: 3px solid yellowgreen;
}

.vertical .button{
    clear: both;
    display: block;
    border: 3px solid orangered;
}
